@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

body {
    background-color: $text-color;
    font-family: 'Montserrat', sans-serif;
}

main {
    // position: relative;
    width: 100%;
    min-height: 100%;
}

body,
a,
span {
    color: $background-color;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 80%;
    margin: auto;
}

@import './mobile.scss';
