@import './variables.scss';
@import './config.scss';

// Navbar
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    list-style: none;

    .nav-item {
        margin: 0.5rem;
        font-size: 1.2rem;
    }

    .active {
        font-weight: 700;
    }
}

.logo {
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid $text-color;
    padding: 0.5rem;
    font-weight: 200;
    font-family: 'Crimson Pro', serif;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    background-color: $text-color;
    height: 2px;
    width: 28px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2 {
    opacity: 0;
}
.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

// Showcase
.showcase {
    height: 90vh;
}

.showcase-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-right: 2rem;
    .lead {
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 4rem;
        font-weight: 300;
    }
}

.text-content {
    align-self: flex-start;
    width: 50%;
    margin-right: 1rem;
}

.image-content {
    position: relative;
    width: 50%;
}

.interior-img {
    width: 100%;
}

.read-link {
    font-weight: 600;
}

.text-block {
    position: absolute;
    max-height: 189px;
    max-width: 410px;
    background-color: $background-color;
    bottom: -70px;
    right: 20px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.profile-pic {
    width: 25%;
    border-radius: 50%;
}

@import './mobile.scss';
