@import './variables.scss';

// For mobile phones
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .burger {
        position: fixed;
        right: 0;
    }
    .nav-links {
        position: fixed;
        right: 0;
        height: 100%;
        // top: 5vh;
        bottom: 0;
        width: 100%;
        background-color: darken($color: $background-color, $amount: 10%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 4;
    }

    .nav-item {
        opacity: 0;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger {
        display: block;
        z-index: 999;
    }

    .showcase-wrapper {
        flex-direction: column;
        justify-content: center;

        .lead {
            margin-bottom: 1.5rem;
        }
    }

    .text-content {
        width: 100%;
    }

    .text-block {
        bottom: -150px;
    }

    .image-content {
        margin-top: 2rem;
        width: 100%;
    }

    footer {
        border-top: 1px solid #a9a9a9;
    }
}

@keyframes NavLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
