@import './variables.scss';

// For mobile phones
@media screen and (max-width: 768px) {
    main {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        width: 100%;
        background-color: darken(
            $color: $burger-background-color,
            $amount: 10%
        );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-item {
        opacity: 0;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger {
        display: block;
    }
}

@keyframes NavLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
